{{ define "main" }}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="left">
        <div style="display: flex; align-content: center; justify-content: space-between; ">
            <h3 >{{.Title}}</h3>

        </div>
        

        <div>
            <div class="description" >
                
                {{ if eq .Title "Colors"}}
                    {{ partial "flex/color-swatches.html" . }}

                {{end}}

                {{ if eq .Title "Typography" }}
                <div class="content-card"> 
                    {{ partial "flex/typography-scale.html" . }}
                </div>
                {{end}} 

               
                    {{.Content}}
               

                {{ partial "flex/tablecontents.html" . }}
            </div>
        </div>
    </div>


</body>

</html>

{{ end }}