

//================================================================================
// Website Color Palette
//================================================================================


$primary-blue:#2F55E0;
$header-blue: #1A2633;
$border-blue: #C7D4DD;
$accent-blue: #F7F7FB;
$font-color:  #202028;
$white: #FFFFFF;
