//Google Material Imports
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/tab/mdc-tab";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/switch/mdc-switch";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/image-list/mdc-image-list";
@import "@material/elevation/mdc-elevation";



//----SCSS for COMPONENT PAGE LAYOUT-----------------------------------------------------


// COMPONENT GALLERY --------------------------------------------------


.mdc-card-outlined {
    min-height: 250px;
    max-height: 250px;
    min-width: 200px;
    @include mdc-card-shape-radius(0, false);
    @include mdc-card-fill-color(#ffffff);
    @include mdc-card-outline(#C7D4DD, 1px);
    overflow: hidden;
    padding: 0 20px 0 20px;

}

.thumbnail{
    display: inline-block;  
    margin-left: auto;
    margin-right: auto;
}

.content-card{
    padding: 15px 15px 15px 15px;
    background-color: #FFFFFF;
    border: 1px solid #C7D4DD;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .08);
}


//---COMPONENT PAGE ---------------------------------------------


//Tabs 
.mdc-tab-bar.component{
    height: 100%;
    @include mdc-tab-bar-width(50%);
}

.mdc-tab.component{
    @include mdc-tab-fixed-width(20%);
}

//Content underneath each tab 
.tabcontent {
    display: none;
    padding: 20px 12px; 
    border-top: 1px solid #C7D4DD;
    width: 80%;
}

//Demo Box 
.demo {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 250px;
    max-height: auto;
    width: 80%; 
    border: 1px solid #C7D4DD;
    background-color: #ffffff;
}

.titlebar {
    //width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.description {
    width: 85%;
}

.darkswitch {
    align-items: center;
    display: flex;
    label {
        margin-right: 10px;
    }
}

// Left side of the page that contains the documentation
.left {
    width: 85%;
    overflow-x: hidden;
}

// Right side of the page that has the table of contents 
.right {
    //display: flex;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 20px;
    right: 0;
    border-left: 1px solid #C7D4DD;
}

// I may not need this.....
#toc {
    ul {
        padding-left: 0;
    }
    li {
        list-style-type: none;
        padding-left: 0px;
    }
    li :hover {
        color: #2196F3;
    }
}



.color-values {
    //margin-right:20px;
    //margin-top:20px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.swatch {
    height: 40px;
    width: 242px;
    //box-shadow: 0 4px 11px 1px rgba(43, 48, 55, .16);
    box-shadow: -4px 2px 15px rgba(0, 0, 0, .30);
   
}

.swatch-status{
    height: 40px;
    width: 175px;
   //box-shadow: 0 4px 11px 1px rgba(43, 48, 55, .16);
    box-shadow: -4px 2px 15px rgba(0, 0, 0, .30);
   
}




//Responsive Code for COMPONENTS----------------------------------------------------------------
@media(max-width:900px) {
    .right {
        display: none;
        width: 0;
    }
    .left {
        width: 95%;
        padding: 1rem;
        overflow-x: hidden; //margin-top: 15rem;
    }
    .tabcontent {
        width: 95%;
    }
    .description {
        width: 95%;
    }
    .demo{
        width: 95%;
    }

    .mdc-tab-bar.component{
        height: 100%;
        @include mdc-tab-bar-width(100%);
    }

}