//Google Material Imports
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/tab/mdc-tab";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/switch/mdc-switch";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/image-list/mdc-image-list";
@import "@material/elevation/mdc-elevation";

//Color Palette
@import "color-palette";



//----SCSS for COMPONENT PAGE LAYOUT-----------------------------------------------------


//================================================================================
// Component Gallery
//================================================================================

.component-group{
    display: flex; 
    flex-direction: row; 
    justify-content: start; 
    flex-wrap: wrap; 
    max-width: 90%; 
    margin: 30px 0 50px 0;
}

.component-image{
    height: 230px; 
    width: 275px; 
    margin: 0 25px 25px 0; 
    border: 1px solid $border-blue; 
    padding: 10px 20px 10px 20px;
}

.component-image:hover{
    background-color: $accent-blue;
    //border: 1px solid $primary-blue; 

}

.icon-image{
    height: 80px; 
    width: 150px; 
    margin: 0 10px 10px 0; 
    border: 1px solid $border-blue; 
    padding: 20px 10px 10px 10px;

}


.mdc-card-outlined {
    min-height: 250px;
    max-height: 250px;
    min-width: 200px;
    @include mdc-card-shape-radius(0, false);
    @include mdc-card-fill-color($white);
    @include mdc-card-outline($border-blue, 1px);
    overflow: hidden;
    padding: 0 20px 0 20px;
    //align-items: center;
}



//Containers for the icons in the icon guidelines
.mdc-card--outlined.icon{
    @include mdc-card-outline($white, 1px);
    height: 50px;
    display: inline-block;
    justify-content: flex-start;

    img{
        margin: 10px 0 10px 0;
    }
}

.thumbnail{
    display: inline-block;  
    margin-left: auto;
    margin-right: auto;
    

}



.content-card{
    padding: 15px 15px 15px 15px;
    background-color: #FFFFFF;
    border: 1px solid #C7D4DD;
    overflow: hidden;
    height: auto;
    width: auto;
    margin-bottom: 30px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .08);
}


//================================================================================
// Component Documentation Page
//================================================================================


//Demo Box 
.demo {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
    max-height: auto;
}

.titlebar {
    //width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    //font-weight: 500;
}

.description {
//font-weight: 500;
}

.darkswitch {
    align-items: center;
    display: flex;
    label {
        margin-right: 10px;
    }
}

.link {
    color: #2F55E0;
    font-weight: 500;
}

//============================ Page Layout for Component Page===========================================

// Left side of the page that contains the documentation
.left {
    width: 86.56%;
    overflow-x: hidden;
}


// Right side of the page that has the table of contents 
.right {
    //display: flex;
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 100px;
    padding-left: 20px;
    right: 0;
    border-left: 1px solid $border-blue;
    background-color: $white;
    
}

//Layout for component documentation pages 
.componentLayout{
    padding-left: 50px;
    width: 65%;
}

.componentListLyout{
    padding-left: 50px;
}

//left margin for page content
.guideLayout {
    padding-left: 50px;
    
}

.rowStyle {
 font-size: 24px;
 font-weight: 400;
 color: $primary-blue;
}

//Sizes the icons for the demo and github links
.iconSize{
    font-size: 20px;
    margin-right: 7px;
    text-align: center;
    }

.iconLayout{
margin-top: 30px; 
margin-bottom: 30px;

}
//============================ Tab Content===========================================


.tab {
    overflow: hidden;
    display: flex;
    background-color: #F7F7FB;
    margin-top: 20px;
  }
  
  .tablinks2{
      border-bottom: 1px solid #C7D4DD;
      width: 80%;
      background-color: #ffffff;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    outline: none;
    cursor: pointer;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: auto;
    transition: 0.3s;
    border: 1px solid $border-blue;
    border-left: none;
    height: 45px;
    text-align: center;
    width: 225px; 
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #eeeef8;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: $white;
    border-bottom: none;
    border-top: 1px solid $border-blue;
    border-left: none;
    border-right: 1px solid $border-blue;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    
  }
  

// Table of Contents
#toc {
    ul {
        padding-left: 0px;
        padding-right: 0px;
        color: $font-color;
    }
    li {
        list-style-type: none;
        padding-left: 0px;
        padding-right: 10px;
    }
    li :hover {
        color: $primary-blue;
    }

    a{
        color: $font-color;
        opacity: .7;
    }
    a :hover{
        font-weight: 400;
    }
    font-weight: 300;
    padding-left: 5px;

}


//================================================================================
// Color Design Guidelines
//================================================================================

.color-group{
    display: flex; 
    flex-direction: row; 
    justify-content: start; 
    flex-wrap: wrap; 
    max-width: 780px; 
    margin: 15px 0 50px 0;
}


.color-values {
    margin-bottom: 50px;
    padding-left: 13px;
    border-radius: 20px;
}

.swatch {
    height: 40px;
    width: 242px;
    box-shadow: -4px 2px 15px rgba(0, 0, 0, .30);
    border-radius: 20px;
   
}

.swatch-status{
    height: 40px;
    width: 175px;
    box-shadow: -4px 2px 15px rgba(0, 0, 0, .30);
    border-radius: 20px;
   
}

//================================================================================
// Color Design Guidelines
//================================================================================











///================================================================================
// Responsive Code
//================================================================================

@media(max-width:950px) {
    .right {
        display: none;
        width: 0;
    }
    .left {
        width: 95%;
        padding: 1rem;
        overflow-x: hidden; //margin-top: 15rem;
    }
    .tabcontent {
        width: 100%;
    }
    .description {
        width: 95%;
    }
    .demo{
        width: 95%;
    }

    .mdc-tab-bar.component{
        height: 100%;
        @include mdc-tab-bar-width(100%);
    }

    .componentLayout{
        width: 95%
    }



}