//Google Material Imports
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/tab/mdc-tab";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/switch/mdc-switch";
@import "@material/layout-grid/mdc-layout-grid";

.torq-button, .torq-button--primary {
  @extend .mdc-button;
  @include mdc-button-container-fill-color(#02B989);
  @include mdc-button-ink-color(#ffffff);
  @include mdc-button-shape-radius(0);
  @include mdc-states-base-color(rgb(9, 128, 96));
  @include mdc-states-hover-opacity(.1);
  @include mdc-states-focus-opacity(.3);
  @include mdc-states-press-opacity(.4);
}

.torq-button--secondary {
  @extend .mdc-button;
  @include mdc-button-container-fill-color(#909699);
  @include mdc-button-ink-color(#ffffff);
  @include mdc-button-shape-radius(0);
}

.torq-button--outlined, .torq-button--primary-outlined {
  @extend .mdc-button--outlined;
  @include mdc-button-ink-color(var(--torq-primary-button-color, #02B989));
  @include mdc-button-outline-color(var(--torq-primary-button-color, #02B989));
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-shape-radius(0);
  @include mdc-button-outline-width(1px, 10px);
  @include mdc-button-horizontal-padding(15px);
}

.torq-button--secondary-outlined {
  @extend .mdc-button--outlined;
  @include mdc-button-ink-color(var(--torq-secondary-button-color, #909699));
  @include mdc-button-outline-color(var(--torq-secondary-button-color, #909699));
  @include mdc-button-container-fill-color(transparent);
  @include mdc-button-shape-radius(0);
  @include mdc-button-outline-width(1px, 10px);
  @include mdc-button-horizontal-padding(15px);
}

.torq-button, .torq-button--secondary, .torq-button--outlined, .torq-button--outlined_secondary {
  text-transform: none; 
}

.torq-button-dark, .torq-button--primary {
  @extend .mdc-button;
  @include mdc-button-container-fill-color(#000000);
  @include mdc-button-ink-color(#ffffff);
  @include mdc-button-shape-radius(0);
  @include mdc-states-base-color(rgb(9, 128, 96));
  @include mdc-states-hover-opacity(.1);
  @include mdc-states-focus-opacity(.3);
  @include mdc-states-press-opacity(.4);
  text-transform: none; 
}

.torq-button-dark--secondary {
  @extend .mdc-button;
  @include mdc-button-container-fill-color(#909699);
  @include mdc-button-ink-color(#ffffff);
  @include mdc-button-shape-radius(0);
  text-transform: none; 
}

.mdc-card--outlined{
  height: 220px;
  width: 95%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5%;
  display: flex;
  //display: flex;
  //justify-content: center;
  //padding: 20px;
  @include mdc-card-fill-color(#fefefe);
  //@include mdc-card-outline(#575B63, 1px);

}

.mdc-tab-bar {
  height: 100%;
  @include mdc-tab-bar-width(50%);
}

header {

  .mdc-tab-bar {
    height: 100%;
    @include mdc-tab-bar-width(100%);

  }
}


//-----------------------------------------------------------------------------------
