//Google Material Imports
@import "@material/card/mdc-card";
@import "@material/switch/mdc-switch";
@import "@material/card/mdc-card";
@import "@material/tab/mdc-tab";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "color-palette";


//================================================================================
// Material Design Tab Component
//================================================================================



//================Top Navigation Tab Bar =========================================
.mdc-tab {
  @include mdc-tab-fixed-width(150px);
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 20px;
  margin-left: 10px;
  text-transform: none;
  font-weight: 300;
  @include mdc-tab-text-label-color($white);

}


.mdc-tab-indicator {
  @include mdc-tab-indicator-underline-height(5px);
  @include mdc-tab-indicator-underline-color($white);
}


.mdc-top-app-bar .mdc-tab-bar {
  //margin-left: 68px;
   margin-left: 0px;
}

.mdc-tab__text-label {
  font-size: 15px;
  opacity: 1;
}

//Removes the Tab Ripple effect
.mdc-tab__ripple::before, .mdc-tab__ripple::after {
  background-color: $header-blue; }
  @supports not (-ms-ime-align: auto) {
    .mdc-tab__ripple::before, .mdc-tab__ripple::after {
      /* @alternate */
      background-color: var($header-blue, $header-blue); } }
.mdc-tab__ripple:hover::before {
  opacity: 0.04; }
.mdc-tab__ripple:hover::before {
  opacity: 0; }


  .mdc-tab--active {
    @include mdc-tab-text-label-color($white);
    font-weight: 500;

    .mdc-tab__text-label{
      transition-delay: 100ms;
      opacity: 1;
    }
  }