{{ define "main"}}



<div class="mdc-layout-grid" style="width: 75%;">
    <div class="mdc-layout-grid__inner">
        {{ range .Site.Pages.ByTitle }}
        {{if and (eq .Params.componentType "torq") (ne .Params.menu "mainmenu")}}

        <div class="mdc-layout-grid__cell">
            <div class="mdc-card-outlined">
                <a href="{{.URL}}">
                    <div style="height: 60%;">
                        <img src='{{.Params.lightThumbnail}}'></img>
                        <div id="description">
                            {{.Description}}
                        </div>
                    </div>
                </a>
                <span class="card-label">
                  <h5>{{.Title}}</h5>
                </span>

            </div>
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>






{{ end }}