{{ define "main" }}

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="componentLayout">
        <div style="display: flex; align-content: center; justify-content: space-between; ">
            <h3 class="doc-header">{{.Title}} </h3>

            <!--Dark Switch-->
            <div class="darkswitch">
                <div class="mdc-switch" data-mdc-auto-init="MDCSwitch">
                    <div class="mdc-switch__track"></div>
                    <div class="mdc-switch__thumb-underlay">
                        <div class="mdc-switch__thumb">
                            <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch"
                                onclick="toggle()">
                        </div>
                    </div>
                </div>

                <!--Label for Dark Switch-->
                <span style="margin-left: 15px; font-weight: 500;">Dark UI</span>
            </div>
            

        </div>

        <div class="titlebar">
            {{.Page.Description}}
        </div>

        <!--INITIALIZES THE MDC WEB COMPONENTS USED ON THE PAGE-->
        <script>
            mdc.autoInit();
        </script>
        
        <!--Displays the component image-->
            <div class="demo">
                <img id="light" src="{{ .Page.Params.lightThumbnail}}"> </img>
                <img id="dark" style="display: none;" src="{{ .Page.Params.darkThumbnail}}"> </img>
            </div>
        
        </div>

       

<div class="tab">
    <button class="tablinks" onclick="tabSwitch(event, 'torq-component')"  id="defaultOpen"> Vanilla Component</button>
    <button class="tablinks" onclick="tabSwitch(event, 'web-component')">Web Component</button>
    <div class ="tablinks2"></div>
  </div>

  


<div class="componentLayout"> 
        <!--this is the tab content for a standard component-->
        <div id="torq-component" class="tabcontent">

            <div class="iconLayout">
                <span style="margin-right: 30px; ">
                    <a href="{{.Page.Params.githubLink}}" target="_blank" class = "link"><i class="fab fa-github iconSize"></i>View Github</a>
                </span>

                <span style="margin-right: 30px;">
                    <a href="{{.Page.Params.demoLink}}" target="_blank" class = "link"><i class="fas fa-external-link-alt iconSize"></i>View Demo</a>
                </span>
            </div>

            {{.Content}}
            {{ partial "flex/tablecontents.html" . }}

        </div>


        <!--this is the tab content for web component documentation-->
        <div id="web-component" class="tabcontent">
 
            {{$webcomponent := .Title}}
            {{$table := .Page.TableOfContents}}

            {{ range where .Site.Pages "Type" "=" "web" }}
                {{ if eq $webcomponent .Title}}
                
                <div class="iconLayout">
                    <span style= "margin-right: 30px;">
                        <a href="{{.Params.githubLink}}" target="_blank" class ="link"><i class="fab fa-github iconSize"></i>View Github</a>
                    </span>
    
                    <span>
                        <a href="{{.Params.demoLink}}" target="_blank" class = "link"><i class="fas fa-external-link-alt iconSize"></i>View Demo</a>
                    </span>
                </div>
                
                    {{ .Content }}
            
                {{ end }}
            {{ end }}
            

        </div>
    </div>



    <!--switches the components from light to dark-->
    <script>
        function toggle() {
            var light = document.getElementById("light");
            var dark = document.getElementById("dark");
            var checkBox = document.getElementById("basic-switch");

            if (checkBox.checked == true) {
                light.style.display = "none";
                dark.style.display = "block";
            }
            else {
                light.style.display = "block";
                dark.style.display = "none";
            }
        }

    </script>


    <script>
        function tabSwitch(evt, docType) {
            var i, tabcontent, tablinks;
            var partial = document.getElementById ("TOCpartial");
            var partial2 = document.getElementById ("TOCpartial2");

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
                
                
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(docType).style.display = "block";
            evt.currentTarget.className += " active";
              
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>


</div> 


</body>

</html>

{{ end }}