
<header>
  <div class="logo" >
    {{ partial "header.html" . }}
  </div>
  

  {{- with .Site.Menus.mainmenu}}
  <div class="shortcuts" id="tabs">

        {{- range sort . "Weight"}}
       
            <a class="gelink" role=""  onClick="setActive(event)"
                 href="{{.URL}}" {{if eq $.Site.Params.menushortcutsnewtab true}}target="_blank"{{end}} rel="noopener">
                 <span>{{safeHTML .Name}}</span> 
                </a> 
         
        {{- end}} 
  </div> 
  {{- end}}

  {{- if not .Site.Params.disableSearch}}
  <div class="searchdiv";>
    <div class="searchbox" >
      <input data-search-input id="search-by" type="text" placeholder="{{T "Search-placeholder"}}">
    </div>
    <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
    <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
    <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
    <script type="text/javascript">
      {{ if .Site.IsMultiLingual }}
          var baseurl = "{{.Site.BaseURL}}{{.Site.LanguagePrefix}}";
      {{ else }}
          var baseurl = "{{.Site.BaseURL}}";
      {{ end }}
    </script>
    <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
  </div>

{{- end}}

<a href="https://guides.github.com/features/mastering-markdown/" target="_blank"><i class='fa fa-gitlab'></i></a>

</header>


<!--end header-->

<!--
<header class="mdc-top-app-bar mdc-top-app-bar--fixed" data-mdc-auto-init="MDCTabBar">
    <div class="mdc-top-app-bar__row">
      <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      
        <div class="mdc-tab-bar" role="tablist">
          <div class="mdc-tab-scroller">
            <div class="mdc-tab-scroller__scroll-area">
                <div class="mdc-tab-scroller__scroll-content">

                  <a class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" href="/about">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">About</span>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </a>
                  
                  <a class="mdc-tab" role="tab" aria-selected="true" href="/components">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">Components</span>
                    </span>
                    <span class="mdc-tab-indicator">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </a>

                  <a class="mdc-tab" role="tab" aria-selected="true" href="/design">
                    <span class="mdc-tab__content">
                      <span class="mdc-tab__text-label">Design</span>
                    </span>
                    <span class="mdc-tab-indicator">
                      <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple"></span>
                  </a>

                  <a class="mdc-tab" role="tab" aria-selected="true" href="/develop">
                      <span class="mdc-tab__content">
                        <span class="mdc-tab__text-label">Develop</span>
                      </span>
                      <span class="mdc-tab-indicator">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                      </span>
                      <span class="mdc-tab__ripple"></span>
                    </a>

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>-->

  <script>
      mdc.autoInit();

      function openTab(evt, cityName) {
               
                var link= String(document.getElementById(cityName));
                location.href= link;
                //evt.currentTarget.className += " active";
            }

    
  </script>


{{ if ne .Page.Params.Type "home"}}
<article>
  <aside>
    <ul class="menu">
      {{- if not .Site.Params.disableHomeIcon}}
          <li data-nav-id="{{"/" | relLangURL}}" class="dd-item">
          <a href="{{"/" | relLangURL}}">
            <i class="fa fa-fw fa-home"></i>
          </a>
          </li>
      {{- end}}

      {{- partial "newmenu.html" . }}

    </ul>
    
    {{- partial "language-selector.html" . }}
   <!-- <section >
        {{- partial "menu-footer.html" . }}
    </section>-->
  </aside>
  



  
  <section class="page">
    
    <div class="nav-select">
      <center>Navigation : 
        <select onchange="javascript:location.href = this.value;">
          {{partial "flex/selectnavigation.html" .}}
        </select>
      </center>
    </div>
    {{end}}



    {{if eq .Page.Params.Type "home"}}



    <div class="nav-select">
      <center>Navigation : 
        <select onchange="javascript:location.href = this.value;">
          {{partial "flex/selectnavigation.html" .}}
        </select>
      </center>
    </div>

  
   
     {{end}}
<!--
    {{if not .IsHome}}<h4 class="page-title">{{.Title}}</h4>{{end}}-->

   