<!--Light Color Swatches-->


<h4>Light UI Colors</h4>
<div class="color-group">

    {{ range .Page.Params.lightUI}}

    <div class="color-values">
        <div class="swatch" style="background-color: {{.Hex}};">
        </div>
        <h6> {{ .Name }} </h6>
        <b class="torq-body2">{{.Hex}}</b>
    </div>

    {{end}}
</div>


<!-- Dark Color Swatches -->
<h4>Dark UI Colors</h4>
<div class="color-group">

    {{ range .Page.Params.darkUI}}

    <div class="color-values">
        <div class="swatch" style="background-color: {{.Hex}};">
        </div>
        <h6> {{ .Name }} </h6>
        <b class="torq-body2">{{.Hex}}</b>
    </div>

    {{end}}
</div>


<h4>Secondary Colors (Dark & Light UI)</h4>
<!--Status Color Swatches -->
<h5>Status Colors</h5>
<div class="color-group">

    {{ range .Page.Params.statusColors}}

    <div class="color-values">
        <div class="swatch-status" style="background-color: {{.Hex}};">
        </div>
        <h6> {{ .Name }} </h6>
        <b class="torq-body2">{{.Hex}}</b>
    </div>

    {{end}}
</div>

<!-- Data Viz Swatches -->
<h5>Data Viz</h5>
<div class="color-group">

    {{ range .Page.Params.dataViz}}

    <div class="color-values">
        <div class="swatch" style="background-color: {{.Hex}};">
        </div>
        <h6> {{ .Name }} </h6>
        <b class="torq-body2">{{.Hex}}</b>
    </div>

    {{end}}
</div>