<table class="type" style="overflow: scroll;">
        <tr>
          <th>Scale Category</th>
          <th>Usage</th>
          <th>Weight</th> 
          <th>Size</th>
          <th>Tracking</th>
          <th>Line Height</th>
        </tr>
        <tr>
          <td> <h1> H1</h1></td>
          <td><h1>Widgets</h1></td> 
          <td><h1>Any</h1></td>
          <td><h1>50px</h1></td>
          <td><h1>0</h1></td>
          <td><h1>73</h1></td>
        </tr>
        <tr >
          <td><h2>H2</h2></td>
          <td><h2>Widgets</h2></td> 
          <td><h2>Any</h2></td>
          <td><h2>38px</h2></td>
          <td><h2>0</h2></td>
          <td><h2>56</h2></td>
        </tr>
        <tr>
          <td><h3 class = "torq-page__header ">H3</h3></td>
          <td><h3 class = "torq-page__header ">Page Headers</h3></td> 
          <td><h3 class = "torq-page__header ">Regular</h3></td>
          <td><h3 class = "torq-page__header ">24px</h3></td>
          <td><h3 class = "torq-page__header ">0</h3></td>
          <td><h3 class = "torq-page__header ">35</h3></td>
        </tr>
        <tr>
          <td><h4 class = "torq-section__header">H4</h4></td>
          <td><h4 class = "torq-section__header">Section Header</h4></td> 
          <td><h4 class = "torq-section__header">Bold</h4></td>
          <td><h4 class = "torq-section__header">20px</h4></td>
          <td><h4 class = "torq-section__header">Auto</h4></td>
          <td><h4 class = "torq-section__header">29</h4></td>
        </tr>
        <tr >
          <td><h5 class = "torq-title1"> H5</h5></td>
          <td><h5 class = "torq-title1"> Title 1</h5></td> 
          <td><h5 class = "torq-title1"> Bold</h5></td>
          <td><h5 class = "torq-title1"> 18px</h5></td>
          <td><h5 class = "torq-title1"> Auto</h5></td>
          <td><h5 class = "torq-title1"> 27</h5></td>
        </tr>
        <tr >
          <td><h6>H6</h6></td>
          <td><h6>Title 2</h6></td> 
          <td><h6>Bold</h6></td>
          <td><h6>15px</h6></td>
          <td><h6>Auto</h6></td>
          <td><h6>26</h6></td>
        </tr>
        <tr >
          <td class="torq-body1">Body 1</td>
          <td>Body Copy & Buttons</td> 
          <td>Medium</td>
          <td>15px</td>
          <td>Auto</td>
          <td>26</td>
        </tr>
        <tr >
          <td class ="torq-body2">Body 2</td>
          <td>Sub-Body Copy</td> 
          <td>Light</td>
          <td>15px</td>
          <td>Auto</td>
          <td>26</td>
        </tr>
        <tr >
          <td class="torq-chart__title">CHARTS</td>
          <td>Chart Titles</td> 
          <td>Medium</td>
          <td>13px</td>
          <td>13</td>
          <td>40</td>
        </tr>
      </table>