<table>
        <tr>
          <th>Scale Category</th>
          <th>Usage</th>
          <th>Font</th> 
          <th>Size</th>
          <th>Tracking</th>
          <th>Line Height</th>
        </tr>
        <tr >
          <td> <h1> H1</h1></td>
          <td>Dashboard Widgets</td> 
          <td>Regular</td>
          <td>50px</td>
          <td>0</td>
          <td>Auto</td>
        </tr>
        <tr >
          <td><h2>H2</h2></td>
          <td>Dashboard Widgets</td> 
          <td>Regular</td>
          <td>38px</td>
          <td>0</td>
          <td>Auto</td>
        </tr>
        <tr>
          <td> <h3>H3</h3></td>
          <td>Page Headers</td> 
          <td>Regular</td>
          <td>24px</td>
          <td>0</td>
          <td>35</td>
        </tr>
        <tr >
          <td><h4>H4</h4></td>
          <td>Section Header</td> 
          <td>Bold</td>
          <td>20px</td>
          <td>Auto</td>
          <td>29</td>
        </tr>
        <tr >
          <td> <h5> H5</h5></td>
          <td>Title 1</td> 
          <td>Bold</td>
          <td>18px</td>
          <td>Auto</td>
          <td>27</td>
        </tr>
        <tr >
          <td><h6>H6</h6></td>
          <td>Title 2</td> 
          <td>Bold</td>
          <td>15px</td>
          <td>Auto</td>
          <td>26</td>
        </tr>
        <tr >
          <td class="torq-body1">Body 1</td>
          <td>Body Copy & Buttons</td> 
          <td>Medium</td>
          <td>15px</td>
          <td>Auto</td>
          <td>26</td>
        </tr>
        <tr >
          <td class ="torq-body2">Body 2</td>
          <td>Sub-Body Copy</td> 
          <td>Light</td>
          <td>15px</td>
          <td>Auto</td>
          <td>26</td>
        </tr>
        <tr >
          <td class="torq-chart__title">CHARTS</td>
          <td>Chart Titles</td> 
          <td>Medium</td>
          <td>13px</td>
          <td>13</td>
          <td>40</td>
        </tr>
      </table>